@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");

/* data warna  */
:root {
  --warna-font-kesatu: #5f7161;
  --warna-bg-kesatu: #efead8;
  --warna-bg-kedua: #d0c9c0;
}

/* umum */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: var(--warna-bg-kesatu);
}

.container {
  display: flex;
  justify-content: baseline;
}

/* navbar */
nav {
  position: relative;
  width: 5%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--warna-bg-kedua);
  transition: all 0.3s ease-in-out;
}

.active nav {
  width: 25%;
  justify-content: start;
}

/* humberger icon */

.hamburger-icon {
  position: absolute;
  right: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.hamburger-icon span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--warna-font-kesatu);
  transition: all 0.2s ease-in-out;
}

.hamburger-icon > span:not(:last-child) {
  margin-bottom: 5px;
}

.active .hamburger-icon span:nth-child(2) {
  width: 0px;
}

.active .hamburger-icon span:nth-child(1),
.active .hamburger-icon span:nth-child(3) {
  transition-delay: 0.3s;
}

.active .hamburger-icon span:nth-child(1) {
  transform: translateY(7px);
}

.active .hamburger-icon span:nth-child(3) {
  transform: translateY(-7px) rotate(90deg);
}

.active .hamburger-icon {
  transition-delay: 0.7s;
  transform: rotate(45deg);
}

/* isi navbar */
.konten {
  color: var(--warna-font-kesatu);
  margin-top: 3rem;
  transition: all 0.3s ease-in-out;
}
.active .konten {
  margin-top: 1rem;
}

.active .isi {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.isi:nth-child(2) {
  margin-top: 1rem;
}

.isi p {
  display: none;
}

.active .isi p {
  display: flex;
  margin-left: 10px;
}

.isi i {
  font-size: 20px;
}

/* utama */
main {
  color: var(--warna-font-kesatu);
  padding: 1rem;
}
